html {
  overflow-y: scroll; /*prevents weird resize errors*/
}

#hous4-16-18 {
  color:#000;
  font-size:12pt;
  line-height:14pt;
  background-color:#fff;
  select, option {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    color:inherit;
  }
  button.zoomOut {
    font-size:14pt;
    font-weight:bold;
    background-color:#EB9123;
    color:#000;
    border-radius:3pt;
    border:1px solid #000;
    cursor:pointer;
    outline: none;
  }
  .hidePopupOption {
    text-align:left;
    /*.legendBinBoxposition:absolute;
    bottom:10px;
    left:10px;
    padding:5px;
    background-color:#fff;
    opacity:0.9;
    font-size:9pt; 
    font-family:"proxima-nova-condensed",sans-serif;
    border:1px solid #aaa;

    z-index:5000;*/
  }
  .fullscreenButton {
    border:1px solid #aaa;
    background-color:#eee;
    z-index:500;
    position:absolute;
    bottom:5px;
    right:5px;
    padding:2px;
    cursor:pointer;
    line-height:0.8;
  }
  .fullscreenButton:hover {
    background-color:#aaa;
  }
  .fullscreenButton:active {
    background-color:#666;
  }
  .legendSlideDown {
    display:none;
  }
  div.zoom_tiles {
    position:absolute;
    font-weight:400;
    font-size:24px;
    border-radius:50%;
    padding:18px;
    border:2px solid #000;
    left:10px;
    width:12px;
    height:12px;
    line-height:12px;
    background-color:#fff;
    z-index:500;
    text-align:center;
    cursor:pointer;
    span {
      position:relative;
      left:-5px;
      top:-4px; 
    }
  }
  div.zoom_tiles:hover {
    background-color:#aaa;
  }
  div.zoom_tiles:active {
    background-color:#666;
    color:#fff;
    border-color:#fff;
  }
  div.zoom_tiles_in {
    top:50px;
  }
  div.zoom_tiles_out {
    top:100px;
    line-height:9px;
    span {left:-1px;}
  }
  button.zoomOut:hover {
    background-color:#F8D8B2;
  }
  button.zoomOut:active {
    background-color:#ED1C24;
  }
  .dotExplainwrap {
    display:inline-block;
    text-align:center;
  }
  .grid02 {
    text-align:center;
  }
  .dotExplainer {
    text-align:left;
    width:50%;
    .line {
      
      position:relative;
      text-indent:-18px;
      padding-left:18px;
    }
    .legend_dot_svg_ex {
      display:inline-block;
      width:8px;
      height:8px;
      text-indent:0px;
      svg {
        position:relative;
      }
    }
  }
  .legendwrap {
    display:none;
    font-family:"proxima-nova-condensed",sans-serif;
    margin-top:10px;
    .titlewrap {
      bottom:0px;
      font-size:16pt;
      text-align:center;
      position:absolute;
      width:100%;
    }
    .titlewrap[data-dataset='nonwhite'] {
      right:25%;
    }
    .gradientwrap {
      position:relative;
      width:80%;
      left:10%;
      white-space:nowrap;
      .minorityConcExp {
        width:50%;
        left:50%;
        text-align:center;
        position:absolute;
        top:32pt;
        height:8pt;
        border:2px solid #000;
        border-top:0px;
        .exp {
          position:relative;
          font-size:11pt;
          white-space:normal;
          display:inline-block;
          text-align:center;
          background-color:#fff;
          top:-2pt;
          padding:5px;
          max-width:80%;
          box-sizing:border-box;
        }
      }
      .labelwrap {
        height:1.5em;
        position:relative;
      }
      .label {
        position:absolute;
        top:-5px;
        white-space:nowrap;
      }
      .label > div {
        position:relative;
        left:-50%;
      }
      .label:first-child > div {
        left:0%;
      }
      .label:last-child > div {
        left:-100%;
      }
      svg {
        width:100%;
        height:20px;
        border:1px solid #666;
        left:0;
        top:0;
        position:relative;
      }
    }
    .legendBinLabel {
      position:absolute;
      left:0px;
      text-align:center;
      top:18px;
      div {
        position:relative;
        left:-50%;
      }
    }
    .legendBinLabel.central {
      width:100%;
      div {
        width:100%;
        left:0%;
      }
    }
    .boxWrap {
      text-align:center;
      padding-bottom:3em;
      position:relative; 
    }
    .entry {
      position:relative;
      display:inline;
      .legendBinBox {
        display:inline-block;
        height:16px;
        width:12%;
      }
      
    }
    
  }
  
  
  
  svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    g.tl_2015_us_cbsa path {
      cursor:pointer;
    }
    text.label {
      cursor:pointer;
      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
    circle.household, g.layer.cb_2015_us_state_500k {
      pointer-events:none;
    }
  }
  svg.dotsSVG {
    pointer-events:none;
    z-index:10;
    //opacity:0.75;
  }
  .mapwrap {
    border:1px solid #aaa;
    overflow:hidden;
    .zoomOut {
      z-index:100;
      position:absolute;
      left:10px;
      top:10px;
    }
    .popup-outer {
      width:0;
      height:0;
      position:absolute;
      overflow:visible;
      z-index:10;
    }
    .popup-wrap {
      position:absolute;
    }
    .popup-wrap.above {
      bottom:10px;
    }
    .popup-wrap.below {
      top:10px;
    }
    .popup {
      background-color:#fff;
      opacity:0.9;
      padding:10px;
      border:1px solid #aaa;
      .popup-body {
        display:table;
        width:100%;
      }
      .entry {
        display:table-row;
      }
      .label, .data {
        display:table-cell;
      }
      .label {
        font-weight:bold;
      }
      .data {
        font-family:"proxima-nova-condensed",sans-serif;
        text-align:right;
      }
      h4 {
        text-align:center;
        margin-top:0;
        margin-bottom:0.3em;
      }
    }

  }
  .tilewrap {
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:5;
    pointer-events:none;
    img, canvas {
      position:absolute;
      width:256px;
      height:256px;
    }
  }
  @media (max-width:750px) {
    .subtitle, .legendwrap, .dotExplainer, .legendwrap .titlewrap {
      font-size:10pt;
    }
    .legendBinBox {
      height:8px;
      width:10px;
    }
  }

  .stamen_credit {
    font-size:10pt;
    color:#666;
    a {
      color:#0C61A4;
    }
    margin-top:1em;
  }

}

#hous4-16-18.fullScreen {
  z-index:999999;
  .borderWrapper {border-top:0px;}
  h3.subtitle {
    position:fixed;
    top:0px;
    margin-left:10px;
    z-index:1000;
  }
  .legendSlideDownPositioner {
    position:absolute;
    width:0px;
    height:0px;
    left:50%;
    top:0px;
    overflow:visible;
  }
  .legendSlideDown {
    display:block;
    position:absolute;
    bottom:0px;
    background-color:#ddd;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
    text-align:center;
    cursor:pointer;
  }
  .zoomOut {
    top:100px;
  }
  div.zoom_tiles_in {
    top:150px;
  }
  div.zoom_tiles_out {
    top:200px;
  }
  .cbsa-picker-wrapper .label {
    display:none;
  }
  div.fixedGroup {
    position:fixed;
    bottom:0px;
    width:60%;
    left:15%;
    z-index:2000;
    border: 1px solid #aaa;
    padding:10px;
    background-color:#fff;
    opacity:0.9;
  }
  div.fixedInner {
    overflow:hidden;
  }
}