#hous4-16-18 {
  select, option {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
  }
  button.zoomOut {
    font-size:14pt;
    font-weight:bold;
    background-color:#EB9123;
    color:#000;
    border-radius:3pt;
    border:1px solid #000;
    cursor:pointer;
    outline: none;
  }
  .fullscreenButton {
    border:1px solid #aaa;
    background-color:#eee;
    z-index:500;
    position:absolute;
    bottom:5px;
    right:5px;
    padding:5px;
    cursor:pointer;
  }
  button.zoomOut:hover {
    background-color:#F8D8B2;
  }
  button.zoomOut:active {
    background-color:#ED1C24;
  }
  .dotExplainer {
    text-align:left;
    .legend_dot_svg_ex {
      display:inline-block;
      width:8px;
      height:8px;
      svg {
        position:relative;
      }
    }
  }
  .legendwrap {
    display:none;
    font-family:"proxima-nova-condensed",sans-serif;
    margin-top:10px;
    .titlewrap {
      bottom:0px;
      font-size:16pt;
      text-align:center;
      position:absolute;
      width:100%;
    }
    .gradientwrap {
      position:relative;
      width:80%;
      left:10%;
      .labelwrap {
        height:1.5em;
        position:relative;
      }
      .label {
        position:absolute;
        top:-5px;
        white-space:nowrap;
      }
      .label > div {
        position:relative;
        left:-50%;
      }
      .label:first-child > div {
        left:0%;
      }
      .label:last-child > div {
        left:-100%;
      }
      svg {
        width:100%;
        height:20px;
        border:1px solid #666;
        left:0;
        top:0;
        position:relative;
      }
    }
    .legendBinLabel {
      display:inline;
    }
    .legendBinLabel {
      margin-right:20px;
    }
    .boxWrap {
      text-align:center;
      padding-bottom:2em;
      position:relative; 
    }
    .entry {
      display:inline;
      .legendBinBox {
        display:inline-block;
        margin-right:5px;
        height:16px;
        width:24px;
      }
      
    }
    
  }
  
  
  
  svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    g.tl_2015_us_cbsa path {
      cursor:pointer;
    }
    text.label {
      cursor:pointer;
    }
    circle.household {
      pointer-events:none;
    }
  }
  .mapwrap {
    border:1px solid #aaa;
    overflow:hidden;
    .zoomOut {
      z-index:100;
      position:absolute;
      left:10px;
      top:10px;
    }
    .popup-outer {
      width:0;
      height:0;
      position:absolute;
      overflow:visible;
    }
    .popup-wrap {
      position:absolute;
    }
    .popup-wrap.above {
      bottom:10px;
    }
    .popup-wrap.below {
      top:10px;
    }
    .popup {
      background-color:#fff;
      opacity:0.9;
      padding:10px;
      border:1px solid #aaa;
      .popup-body {
        display:table;
        width:100%;
      }
      .entry {
        display:table-row;
      }
      .label, .data {
        display:table-cell;
      }
      .label {
        font-weight:bold;
      }
      .data {
        font-family:"proxima-nova-condensed",sans-serif;
        text-align:right;
      }
      h4 {
        text-align:center;
        margin-top:0;
        margin-bottom:0.3em;
      }
    }

  }
  .tilewrap {
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    img {
      position:absolute;
      width:256px;
      height:256px;
    }
  }
}
