body, html {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  &.no-scroll {
    overflow:hidden;
  }
}

#hous4-16-18 {
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  position:relative;
  overscroll-behavior: none;
  .race-ethnicity-click {
    cursor:pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .picker-race-ethnicity {
    display:none;
  }
  .picker-race-ethnicity > ul {
    &.do-not-hide-picker {
      display:block;
    }
  }
  .pickers {
    max-width:250px;
    font-size:10pt;
    line-height:14pt;
    font-family:"proxima-nova",sans-serif;
    .picker-wrapper {
      margin-bottom:0.5em;
      label {
        display:block;
        font-weight:bold;
      }
      label, select, .autocomplete_wrap {
        margin-left:5pt;
        margin-right:5pt;
      }
      select:not([multiple]) {
        max-width:150px;
        & > option {
          max-width:100px;
        }
      }
      .safmr_config {
        label, input[type='checkbox'] {
          display:inline-block;
        }
        input[type='checkbox'] {
          margin-left:0;
          position:relative;
          top:2px;
        }
      }
      ul[name='additional-dot-layers-checkboxes'] {
        list-style-type:none;
        margin-left:0;
        padding-left:0;
        margin-top:0;
        .ethnicity-legend-box {
          display:inline-block;
          width:12px;
          height:12px;
          margin-right:5px;
          position:absolute;
          top:4px;
          left:25px;
        }
        li {
          margin:0;
          padding:0; 
          position:relative;
        }
        input {
          position:absolute; 
          top:0em;
          left:5px;
        }
        label {
          position:relative;
          margin-left:40px;
          font-weight:400;
        }
      }
    }
    select, option, input {
      font-family:inherit;
      font-weight:inherit;
      font-size:inherit;
    }
    position:relative;
    z-index:10;
    background-color: rgba(250, 242, 240, 0.95);
    border:1px solid #ddd;
    padding:10px;
  }
  .map-outer-lightbox {
    position:fixed;
    overscroll-behavior: none;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    top:0;
    left:0;
    visibility:hidden
  }
  .map-inner-lightbox {
    position:absolute;
    top:1%;
    left:1%;
    right:1%;
    bottom:1%;
    background-color:#fff;
    border-radius: 1%;
    padding:1%;
  }
  .map-viewport-outer {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    //padding-bottom:56.25%;
    & > div {
      border:1px solid #aaa;
      overflow:hidden;
      position:absolute;
      height:100%;
      width:100%;
      & > svg {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        &.main-svg {mix-blend-mode: multiply;}
        &.inverted-svg, &.text-svg {pointer-events: none;}
      }
      & > canvas {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        pointer-events:none;
      }
    } 
  }
  svg.text-svg {
    font-family:"proxima-nova-condensed",sans-serif;
    .text-stroke{ 
      stroke:rgba(255, 255, 255, 0.7);
      stroke-width:4px;
    }
    .text-fill { fill:#000;}
    text {
      text-anchor:middle;
      dominant-baseline:middle;
    }
    g.hide-place {
      display:none;
    }
    g.place.country {

    }
    g.place.state {
      text-transform: uppercase;
      font-style:italic;
      font-size:14pt;
    }
    g.place.city {
      font-size:14pt;
    }
    g.place.town {
      font-size:12pt;
    }
    g.place.village {
      font-size:10pt;
    }
    g.place.hamlet {
      font-size:9pt;
    }
    g.place.suburb {
      font-size:12pt;
      text { fill:#555; }
      text-transform: uppercase;
    }
    g.place.neighbourhood {

      font-size:10pt;
      text { fill:#555; }
      text-transform: uppercase;
    }
    g.place.locality {
      font-size:8pt;
      text { fill:#555; }
      text-transform: uppercase;
    }
  }
  .tileLayer {
    position:relative;
    user-select:none;
    pointer-events: none;
    mix-blend-mode: multiply;
    img {
      position:absolute;
      width:256px;
      height:256px;
    }
  }
  /*svg path.tract,
  g.cbsa_group {
    mix-blend-mode: multiply;
  }*/
  g.cbsa-group {
    overflow: visible;
  }
  svg path.tract {
    transition: fill 0.2s;
    cursor:pointer;
  }
  svg path.tract.hovered {
    fill: #333;
  }
  circle.dot {
    pointer-events:none;
  }
  .tooltip-container {
    position:absolute;
    width:0;
    height:0;
    overflow:visible;
    .tract_tooltip {
      position:relative;
      width:0;
      height:0;
      overflow:visible;
    }
    .tooltip-inner {
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.95);
      padding:10px;
      position:absolute;
      li, p, ul {
        margin-bottom:0;
      }
    }
  }

  .legend-container {
    font-size:12pt;
    position:absolute;
    left:10px;
    right:10px;
    bottom:10px;
    z-index:10;
    font-family:"proxima-nova",sans-serif;
    background-color: rgba(250, 242, 240, 0.95);
    min-height:50px;
    border:1px solid #ddd;
    padding:10px;
    & > * {
      position:relative;
      z-index:20;
    }
    .legend-bins {
      width:100%;
    }
    .legend-bins-inner {
      height:60px;
      width:100%;
      position:relative;
    }
    .legend-bin {
      display:inline-block;
      position:absolute;
      .legend-bin-label {
        display:inline-block;
        position:relative;
        top:20px;
      }
      label {
        position:relative;
        left:-50%;
      }
      svg {
        height:20px;
        width:100%;
        position:absolute;
      } 
    }
    .voucher-indicator {
      margin-bottom:0.3em;
    }
    .voucher-circle {
      width:12px;
      height:12px;
      display:inline-block;
      background-color: rgba(111, 66, 245, 0.8);
      border-radius:50%;
      border: 2px solid rgba(255, 255, 255, 0.8);
    }
  }
  .tract_tooltip {
    font-size:12pt;
    line-height:14pt;
    font-family:"proxima-nova",sans-serif;
    h3 {
      color:inherit;
      font-size:14pt;
      line-height:16pt;
      margin:0;
    }
    ul, li {
      margin:0;
      padding:0;
      list-style-type:none;
    }
    table {
      font-size:10pt;
      line-height:1;
      border-collapse:collapse;
      width:100%;
      td {padding: 0; border: 0; margin:0};
      td:last-child {
        text-align:right;
      }
    }
  }

  .map-close-lightbox {
    position:absolute;
    top:2.5%;
    right:2.5%;
    background-color: #a00;
    color:#fff;
    border-radius:50%;
    text-align:center;
    padding:10px;
    width:30px;
    height:30px;
    line-height:30px;
    cursor:pointer;
    &:hover {
      background-color:#600;
    }
    span {
      position:absolute;
      top:0;
      left:7.5px;
      text-align:center;
      overflow:visible;
    }
  }

  .autocomplete_wrap {
    display:inline-block;
    position:relative;
    width:90%;
    max-width:300px;
    input {
      width:100%;
      padding-right:15px;
    }
    .down-arrow-autocomplete {
      position:absolute;
      right:5px;
      top:2px;
    }
  }

  .autocomplete_options {
    list-style-type:none;
    margin:0;
    padding:0px;
    font-size:11pt;
    max-height:70vh;
    border:1px solid #aaa;
    overflow-y:auto;
    li {
      list-style-type:none;
      margin-left:0;
      padding:5px;
      padding-left:10px;
      margin:0;
      line-height:1;
      text-indent:-5px;
      cursor:pointer;
      background-color: #fff;
      &.selected-autocomplete {
        background-color: #eee;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }

}