.slide-deck {
  position: relative;
  z-index:9999;
  section {
    padding-top:30vh;
    padding-bottom:30vh;
    position:relative;
  }
  .slide {
    padding:0;
    display:inline-block;
    width:100%;
    position:relative;
    z-index:10;
    h1, h2, h3, h4, h5, h6 {
      margin-top:0;
      padding-top:0.5em;
    }
  }
  .slide-inner-wrap {
    display:block;
    line-height:1.2;
    background-color: rgba(255, 255, 255, 0.97);
    h2 {
      font-size:16pt;
      line-height:1.2;
    }
    font-size:14pt;
    line-height:1.4;
    margin-top:80vh;
    margin-bottom:80vh;
    @media (min-width:994px) {
      margin-top:20vh;
      margin-bottom:20vh;
    }
    padding:20px;
    border:1px solid #666;
    max-width:500px;
    margin-left:0;
    margin-right:auto;
    li {
      margin-bottom:0.5em;
      &:last-child {
        margin-bottom:0;
      }
    }
  }
}

.slide-custom-backgrounds {display:none}

.static-slide-container > div {
  display:block;
  top:10vh;
  left:0;
  width:100%;
  height:100%;
  @media (min-width:994px) {
    width:auto;
    margin-left:560px;
    margin-right:20px;
  } 
  height:80vh;
  position:fixed;
  transition:opacity 1s;
  transition-timing-function: linear(0 50%, 1 100%);
  &.fill {
    height:auto;
    width:auto;
    left:0;
    top:0;
    img {
      width:1500px;
      max-width:none;
      max-height:none;
      margin:0;
    }
    div.fill-legend {
      width:auto;
      margin-left:0;
      margin-right:0;
      position:fixed;
      bottom: 10px;
      left:50vw;
      img {
        left:-50%;
        width:auto;
        position:relative;
        transform: scale(0.5);
        border:2px solid #666;
      }
    }
    left:calc((100vw - 1500px)/2);
    top:calc((100vh - 1200px)/2);
  }
  & > img {
    width:auto;
    height:auto;
    max-height:100%;
    max-width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  &.active {
    display:block;
    opacity:1;
    transition-timing-function: linear(0 0%, 1 50%);
  }
}

.hous4-16-18-loading-blocker {
  opacity:0;
  visibility: hidden;
}

.cbpp-maps-story-mode {
  #hous4-16-18 {
    pointer-events:none;
    .map-close-lightbox, .picker-open-self, .pickers {
      display:none;
    }
    .map-title {
      position:fixed;
      left:0;
      top:0;
      text-align:center;
      background-color: #fff;
      border-bottom:1px solid #000;
      h4 {
        max-width:none;
        padding:10pt;
        margin:0;
        @media (min-width:994px) {
          margin-left:540px;
        }
      }
    }
    .map-outer-lightbox {
      visibility:visible;
    }
    .map-slide-container {
      opacity:0;
    }
    .map-inner-lightbox {
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
    }
    .legend-and-notes {
      @media (min-width:994px) {
        left:540px;
      }

    }
  }
  .zoom-buttons {display:none !important} 
}

#hous4-16-18 {
  opacity: 1;
  transition: opacity 0.3s;
  &.map-hidden {
    opacity: 0;
    pointer-events:none;
  }
  .map-slide-container {
    overflow:hidden;
    position:relative;
  }
  &.updating {
    opacity:0;
  }
}